button {
  display: inline-block;
  padding: 0.5em 1em;
  background: hsl(216, 50%, 16%);
  border: 1px solid #ccc;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 1.5rem;
}
button:hover {
  background: hsl(216, 50%, 25%);
}
